@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-bg: #F1F1F1;
    --color-yellow:#FCCD46;
    --color-white: #FFFFFF;
    --color-light-gray: #5F6767;
    --color-black:#0D0D0D;
    --color-dark-blue: #214184;
    --color-dark-red:#FC4747;
}

.input{
    width:100%;
    border-radius:48px;
    padding:16px; 
}

.label{
    font-size:12px;
    color:#070707;
    font-weight:bold;
    padding-left:10px;
}

.mainBtn{
    background-color: var(--color-dark-blue);
    border-radius:48px;
    color:var(--color-white);
    font-size:24px;
    width:100%;
    font-weight:bold;
    cursor:pointer;
    padding:10px;
    text-align: center;
}

.error{
   color:var(--color-dark-red);
   font-size:12px;
   padding-left:10px;
}


